/* latin-ext */
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 700;
  src: local('Share Bold Italic'),
       local('Share-BoldItalic'),
       url(./fonts/share.svg) format('svg'),
       url(./fonts/share.woff2) format('woff2'),
       url(./fonts/share.ttf) format('ttf');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Share';
  font-style: italic;
  font-weight: 700;
  src: local('Share Bold Italic'),
       local('Share-BoldItalic'),
       url(./fonts/share.svg) format('svg'),
       url(./fonts/share.woff2) format('woff2'),
       url(./fonts/share.ttf) format('ttf');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #ebebeb;
  line-height: 1.5em;
  background-color: #2b3e50;
}

div.jumbotron {
  padding-bottom: 0px;
}

#app {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.sytac-container {
  padding: 2em;
}

a {
  text-decoration: none;
  color: #E57E25;
}

a:hover {
  text-decoration: underline;
}

.quiz-question {
  font-size: 1.3em;
  display: block;
  margin: 20px auto;
  font-style: italic;
}

code {
  font-size: 1.3em;
}

nav {
  background-color: #0b1e30;
  font-size: 1.5em;
}

.row { text-align: center; }

.row.header {
  text-align: center;
}

.row.header h1 { font-size: 2em !important; }

button {
  display: block;
  margin-bottom: 2em;
}

.results {
  margin-top: 1em;
  text-align: center;
}
.result_icon {
  display: inline-block;
  font-size: 16em;
  width: 100%;
  margin-top: 0.30em;
}

.result_ok {
  color: green;
}

.result_not {
  color: #c7254e;
}

pre {
  overflow-x: scroll;
}

code {
  white-space: pre;
  color: #c7254e !important;
}

.form_input {
    margin-bottom: 1.5em;
}

img.user-selected {
  border: 3px solid #e57e25;
}

img.user-unselected {
  border: 3px solid white;
}

p.user-selected {
  font-weight: bold;
  color: #e57e25;
}

p.user-unselected {
  font-weight: bold;
}

@media only screen and (min-width: 480px) {

  body {
    font-size: 11px;
  }

  .row { text-align: left; }

  .row.header h1 { font-size: 4.3em !important; }

  .result_icon {
    margin-top: 0;
    max-width: 1.4em;
  }

  .row.header .header__logo {
    float: left;
  }

}
